<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.estgroup.phphub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name = "android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:name=".common.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.LoginActivity">
            <intent-filter>
                <action android:name="org.phphub.auth.action.AUTH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.topic.TopicDetailsActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.settings.SettingsActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.user.UserSpaceActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />

        </activity>
        <activity android:name=".ui.view.ScannerActivity"></activity>

        <service android:name=".common.service.AuthService"
            android:process=":auth"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <activity android:name=".ui.view.topic.TopicPublishActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.topic.TopicReplyActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.ReplyActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
    </application>

</manifest>