<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.estgroup.phphub" >

    <permission android:name="org.estgroup.phphub.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="org.estgroup.phphub.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:name=".common.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:value="@string/umeng_appkey"
            android:name="UMENG_APPKEY"/>
        <meta-data
            android:value="${channel}"
            android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".ui.view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.LoginActivity">
            <intent-filter>
                <action android:name="org.estgroup.phphub.auth.action.AUTH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.topic.TopicDetailsActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.user.UserSpaceActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />

        </activity>

        <activity android:name=".ui.view.user.UserNotificationsActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />

        </activity>

        <activity android:name=".ui.view.ScannerActivity"/>

        <service android:name=".common.service.AuthService"
            android:process=":auth"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service android:name=".common.service.NotificationService"
            android:enabled="true" />

        <activity android:name=".ui.view.topic.TopicPublishActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.topic.TopicReplyActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.ReplyListActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.user.UserTopicActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.user.EditUserProfileActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.WebViewPageActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity android:name=".ui.view.GalleryActivity"
            android:parentActivityName=".ui.view.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <!-- Deep Link Patch -->
        <activity
            android:name="com.airbnb.deeplinkdispatch.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phphub" android:host="topics"/>
                <data android:scheme="phphub" android:host="users"/>
            </intent-filter>
        </activity>

        <!--+++++++++++++++++++ umeng +++++++++++++++++++++-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />

        <activity
            android:name="com.umeng.fb.ConversationActivity"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!--+++++++++++++++++++ JPush +++++++++++++++++++++-->

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="org.estgroup.phphub"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".common.broadcast.JPushReReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="org.estgroup.phphub" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.estgroup.phphub" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="@string/jpush_channel"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="@string/jpush_appkey"/>

    </application>

</manifest>